.navbar{
    display: flex;
    justify-content:space-between;
    gap: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: white;
    background-color: black;

}
.para2{
     display: flex;
    justify-content:space-around;
    gap: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: white;
}
#navbar2{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    background-color: rgb(53, 53, 53);
    color: white;
}
.para4{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    font-size: 19px;
    padding-bottom: 16px;
}
#firstpage{
    /* border: 2px solid black; */
    height: 100vh;
    width: 100%;
    background-image: url(./dota-2-shadow-fiend-art-dark-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.man{
    /* border: 2px solid white; */
    background-image: url(./bgman-removebg-preview.png);
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 50%;
    /* margin-left: 600px; */
    
}
.firstblock{
    /* border: 2px solid white; */
    height: 50vh;
    width: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#box{
    /* border: 2px solid rgb(1, 1, 1); */
    background-color: rgb(41, 40, 40);
    /* background-image: url(./badge.png); */
    width: 100%;
    height: 30vh;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}
.new1{
    
    background-repeat: no-repeat;
    border: 2px solid black;
    height: 20vh;
    width: 10%;
    background-image: url(./badge.png);
    background-size: cover;
}
.new2{
    
    background-repeat: no-repeat;
    border: 2px solid black;
    height: 20vh;
    width: 10%;
    background-image: url(./diamond.png);
    background-size: cover;

}
.new3{
    
    background-repeat: no-repeat;
    border: 2px solid black;
    height: 20vh;
    width: 10%;
    background-image: url(./gamer_4291796.png);
    background-size: cover;
}
.new4{
    
    background-repeat: no-repeat;
    border: 2px solid black;
    height: 20vh;
    width: 10%;
    background-image: url(./sport_15627767.png);
    background-size: cover;
}
.new5{
    
    background-repeat: no-repeat;
    border: 2px solid black;
    height: 20vh;
    width: 10%;
    background-image: url(./military-aircraft_7767972.png);
    background-size: cover;
}
.secc{
    
    background-repeat: no-repeat;
    border: 2px solid black;
    height: 150vh;
    width: 100%;
    /* background-image: url(./1_3gskXmY1M5rNpxEkQqtVbg.jpg); */
    background-color: white;
    /* opacity: 0.2; */
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
}
.secc1{
    
    background-repeat: no-repeat;
    border: 2px solid black;
    height: 50vh;
    width: 50%;
    background-color: white;
    /* opacity: 0.2; */
    background-size: cover;
    margin-top: 150px;

}
.secc2{
    
    background-repeat: no-repeat;
    border: 2px solid black;
    height: 100vh;
    width: 50%;
    background-image: url(./1_3gskXmY1M5rNpxEkQqtVbg.jpg);
    
    background-size:cover;
    background-position: center;
    margin-top: 150px;
}
.gamee{
    

}

